<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>商品一覧</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
    <div id="contents">

    <div class="row" style="background-color: #FFD700">
    <div class="col">
	<h1 th:text="${title}"></h1>
	<h2 th:text="${subTitle}"></h2>

	</div><!--.col-->
	</div><!--.row-->

    <div class="row mt-3" style="background-color: #f5f5f5">
	<div class="col">

	<table class="table table-hover table-striped">
	<tr><th>商品コード</th><th>商品名</th><th>値段</th><th>販売単位</th><th>説明</th><th>画像</th></tr>
	<tr th:each="item:${productList}">
	<td th:text="${item.code}"></td>
	<td th:text="${item.name}"></td>
	<td th:text="${item.price}"></td>
	<td th:text="${item.unit}"></td>
	<td th:text="${item.desc}"></td>
	<td th:text="${item.img}"></td>
	</table>

	</div><!--.col-->
	</div><!--.row-->

    </div><!--#contents-->
    </div><!--.container-->

</body>
</html>